<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naomi.nail_dash">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NailDash"
        tools:targetApi="31">
        <activity
            android:name="com.naomi.nail_dash.Favorites"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.naomi.nail_dash.Settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.naomi.nail_dash.Home"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />


        <activity
            android:name="com.naomi.nail_dash.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <activity
            android:name="com.naomi.nail_dash.Register"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.naomi.nail_dash.TestMap2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.naomi.nail_dash.Coverpage"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="Dash Nails">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>